fastapi
uvicorn
langchain
langchain-community
langgraph
openai
langchain-openai>=0.0.1
tiktoken
redis
psycopg2-binary
python-dotenv
faiss-cpu
pytest
dateparser>=1.1.8
langchainhub
numpy
scipy
# Dependencias para RAG con Qdrant
qdrant-client
langchain-qdrant
unstructured
pdf2image
pytesseract